h1 {
  font-family: monospace;
  border: 1px;
  background-color: rgba(45, 240, 255, 0.3);
}

label {
  border: none;
  background-color: rgba(255,255,2,0.2);
}

p {
  border: 1px dotted grey;
}

html {
  background-color: silver;
}

.a  {
  background-color: rgba(15,240,23,0.2)
}
